# üêç Python Tuples Complete Guide

A **tuple** is an **ordered, immutable collection** in Python. Tuples are useful when you want to store a collection of values that should not be changed.

## ‚úÖ Key Properties of Tuples:
- **Ordered** ‚Äì Elements have a defined order and can be accessed using an index.
- **Immutable** ‚Äì Tuples cannot be changed after creation.
- **Heterogeneous** ‚Äì A tuple can store elements of different data types.
- **Allows Duplicates** ‚Äì A tuple can contain duplicate values.

## üìå Creating a Tuple
You can create a tuple using parentheses `()` or the `tuple()` constructor:

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits)

In [ ]:
numbers = tuple([1, 2, 3, 4])
print(numbers)

> **Note:** To create a tuple with a single element, add a comma after the element.

In [ ]:
single_element = ('apple',)
print(single_element)
print(type(single_element))

## üöÄ Real-Life Example
Storing coordinates of a point (x, y) as a tuple since they shouldn‚Äôt change:

In [ ]:
point = (4, 5)
print(point)

## 1Ô∏è‚É£ Accessing Elements
You can access tuple elements using **indexing** and **slicing**:

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])  # First element
print(fruits[-1])  # Last element

In [ ]:
fruits = ('apple', 'banana', 'cherry', 'orange')
print(fruits[1:3])  # Slicing

## 2Ô∏è‚É£ Length of a Tuple
Use `len()` to find the number of elements in a tuple:

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(len(fruits))

## 3Ô∏è‚É£ Tuple Concatenation and Repetition
- Use `+` to combine two tuples.
- Use `*` to repeat a tuple.

In [ ]:
A = (1, 2, 3)
B = (4, 5)
print(A + B)  # Concatenation
print(A * 2)  # Repetition

## 4Ô∏è‚É£ Tuple Unpacking
You can unpack tuple elements into variables:

In [ ]:
coordinates = (10, 20)
x, y = coordinates
print(x)
print(y)

> **Note:** The number of variables must match the number of tuple elements.

## 5Ô∏è‚É£ Nesting Tuples
Tuples can contain other tuples:

In [ ]:
nested = ((1, 2), (3, 4), (5, 6))
print(nested[0])
print(nested[0][1])

## 6Ô∏è‚É£ Tuple Methods
- `count()` ‚Äì Returns the number of occurrences of a value.
- `index()` ‚Äì Returns the index of the first occurrence of a value.

In [ ]:
fruits = ('apple', 'banana', 'cherry', 'apple')
print(fruits.count('apple'))
print(fruits.index('banana'))

## 7Ô∏è‚É£ Checking Membership
Use `in` and `not in` to check if an element exists in a tuple:

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print('apple' in fruits)
print('mango' not in fruits)

## 8Ô∏è‚É£ Sorting a Tuple
You can't sort a tuple directly, but you can create a sorted list from it:

In [ ]:
numbers = (3, 1, 4, 2)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

## 9Ô∏è‚É£ Convert Tuple to List and Vice Versa
You can convert a tuple to a list and back:

In [ ]:
fruits = ('apple', 'banana', 'cherry')
fruits_list = list(fruits)
print(fruits_list)
fruits_tuple = tuple(fruits_list)
print(fruits_tuple)

## ‚úÖ Summary Table
| Operation | Example | Result |
|-----------|---------|--------|
| Create tuple | `A = (1, 2, 3)` | Creates a tuple |
| Access elements | `A[0]` | First element |
| Slicing | `A[1:3]` | Slice tuple |
| Length | `len(A)` | Number of elements |
| Concatenation | `A + B` | Combine tuples |
| Repetition | `A * 2` | Repeat tuple |
| Unpacking | `x, y = A` | Unpack elements |
| Nesting | `((1, 2), (3, 4))` | Tuple of tuples |
| Count | `A.count(2)` | Number of occurrences |
| Index | `A.index(3)` | First index of value |
| Convert to list | `list(A)` | Converts to list |